
body {
  background: #050509;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.site-logo {
  width: 180px;
  border-radius: 10px;
}

nav {
  background: #111;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #39ff14;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.card {
  background: #111119;
  border: 1px solid #7b2cff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.button {
  background: #39ff14;
  padding: 10px 20px;
  display: inline-block;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  color: #888;
}
